# 100 polars exercises

This is a collection of polars exercises that have been collected on stack
overflow and the polars documentation. The goal of this collection is to offer
a quick reference for both old and new users but also to provide a set of
exercises for those who teach.


If you find an error or think you've a better way to solve some of them, feel
free to open an issue at <https://github.com/hericks/polars-100>.

File automatically generated. See the documentation to update
questions/answers/hints programmatically.

Run the `initialize.py` module, then for each question you can query the answer
or an hint with `hint(n)` or `answer(n)` for `n` question number.

In [ ]:
%run src/initialise.py

#### 1. Import the polars package under the name `pl`. (★☆☆)

**Note.** The import is required for all subsequent questions.

#### 2. Print the polars version and configuration. (★☆☆)

#### 3. Create a series named "nums" with intergers ranging from 0 to 9. (★☆☆)

#### 4. Create a dataframe with columns "nums" and "bools" of integers and boolean values. (★☆☆)

#### 5. Find the (estimated) memory size of a series or dataframe. (★☆☆)

#### 6. Add a new column "value" with value 1.0 to the dataframe `df`. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "name": ["Tim", "Struppi", "Haddock"],
})

#### 7. Add series `age` as new column to the dataframe `df`. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "name": ["Tim", "Struppi", "Haddock"],
})

age = pl.Series("age", [23, 4, 45])

#### 8. Peek at the first 10 rows of the dataframe `df`. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "index": range(250)
})

#### 9. Print the number of rows in the dataframe `df`. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "index": range(42)
})

#### 10. Reorder the columns of the dataframe `df` to `"name"`, `"age"`, and `"is_dog"`. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "is_dog": [False, True, False],
    "age": [23, 4, 45],
    "name": ["Tim", "Struppi", "Haddock"],
})

#### 11. Filter the dataframe `df` for humans of age 23. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "is_dog": [False, True, False],
    "age": [23, 4, 45],
    "name": ["Tim", "Struppi", "Haddock"],
})

#### 12. Compare the dataframes `df1` and `df2` for equality. (★☆☆)

**Note.** The result should return `True` as a single python `bool`.

In [ ]:
df1 = df2 = pl.DataFrame({
    "test": ["One-sample t", "Chi-squared", "Paired t", "Kolmogorov-Smirnov", "Mann-Whitney U"],
    "p_value": [0.14, None, 0.02, 0.67, 0.42],
})

#### 13. For each unique value of `count`, select the first row in `df`. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "count": [2, 2, 3, 5, 5, 5],
    "name": ["Alice", "Bob", "Carol", "Carlos", "Charlie", "Eve"],
})

#### 14. Print the dataframe `df`, such that all rows are visible. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "index": range(20)
})

#### 15. Print the dataframe `df`, such that all list element are visible. (★☆☆)

In [ ]:
df = pl.DataFrame({
    "name_lists": [list("Alice"), list("Bob"), list("Charlie")]
})

#### 16. Perform an element-wise multiplication of the float column `"scalar"` and the list column `"vector"`. (★★☆)

In [ ]:
df = pl.DataFrame({
    "scalar": [1., 2., 3.],
    "vector": [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
})

#### 17. Compute bootstrapped 95% confidence intervals for the mean of the `"value"` column (i.e., resample the elements of the column with replacement N times, compute the mean of each sample, and then compute percentiles over the means). (★★★)

In [ ]:
import random

df = pl.DataFrame({
    "value": [random.normalvariate(mu=2, sigma=0.5)**2 for _ in range(100)]
})